/* hero background image */
* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif; 
}

.bgimage {
  height: 100vh;
  background: url(/images/code-img.jpg);
  background-size: cover;
  position: relative;
}

/* text css above hero image */
.hero-title {
  font-size: 4.5rem;
}

.hero-desc {
  font-size: 2rem;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  bottom: 50%;
  color: white;
}

.imageAboutPage {
  width: 100%;
}

.navbarScroll.navbarDark {
  background-color: black;
}
