/* hero background image */
* {
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
  margin: 0;
  padding: 0;
  transition: background-color 0.6s ease, color 1s ease;
  color: var(--fontColor);
}

:root {
  --navHeight: 70px;
  --sage: #d2cca1;
  --paleSpringBud: #dedaba;
  --goldCrayola: #e5c687;
  --richBlackForeground: #0f1a20;
  --white: #f8f8f8;
  --black: #222;
  --msuGreen: #2d4739;
  --gray: #eee;
}

.light-theme {
  --themeDropDownBg: var(--goldCrayola);
  --themeIconBorderColor: var(--sage);
  --navBg: var(--sage);
  --navLinkHoverBg: var(--paleSpringBud);
  --mainBg: var(--goldCrayola);
}

.dark-theme {
  --themeDropDownBg: var(--msuGreen);
  --themeIconBorderColor: var(--richBlackForeground);
  --navBg: var(--richBlackForeground);
  --navLinkHoverBg: var(--msuGreen);
  --mainBg: var(--msuGreen);
  background-color: rgb(37, 36, 36);
}

.switch {
  width: 55px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.switch div {
  position: relative;
  display: block;
  background: #eee;
  width: 30px;
  border-radius: 50px;
  padding: 0 5px;
  box-sizing: border-box;
  cursor: pointer;
}

.fa-adjust {
  transform: rotate(180deg);
}

.switch input {
  display: none;
}

.slider {
  background-color: #999;
  transition: 0.4s;
  border-radius: 34px;
  height: 12px;
  width: 12px;
  display: inline-block;
  position: relative;
}

input:checked + .slider {
  transform: translateX(8px);
}

nav {
  background: var(--navBg);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  font-size: 1.1rem;
  position: relative;
}

nav ul {
  list-style-type: none;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  height: var(--navHeight);
  padding: 0 10px;
}

nav ul li {
  padding: 12px 10px;
  cursor: pointer;
  transition: background 0.3s ease;
  border-radius: 4px;
  position: relative;
}

nav ul li:hover {
  background-color: var(--navLinkHoverBg);
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.5rem;
  background: var(--mainBg);
  height: calc(100vh - var(--navHeight));
}

.bgimage {
  height: 100vh;
  background: url(/images/code-img.jpg);
  background-size: cover;
  position: relative;
}

/* text css above hero image */
.hero-title {
  font-size: 4.5rem;
}

.hero-desc {
  font-size: 2rem;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  bottom: 50%;
  color: white;
}

.imageAboutPage {
  width: 100%;
}

.aboutMePicture {
  width: 100%;
}

.navbarScroll.navbarDark {
  background-color: black;
}

.social-icons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 2rem;
}

.wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
  max-width: 100%;
}

.box {
  background-color: rgb(119, 111, 111);
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
  word-spacing: 5px;
}

.a {
  grid-column: "col1-start / col3-start";
  grid-row: "row1-start";
}
.b {
  grid-column: "col3-start";
  grid-row: "row1-start / row2-end";
}
.c {
  grid-column: "col1-start";
  grid-row: "row2-start";
}
.d {
  grid-column: "col2-start";
  grid-row: "row2-start";
}
